
.row_cancelled {
  .row_name {
    color: $color-black !important;
    opacity: 0.6;
    cursor: default;
    text-decoration: none;
    &:hover {
      color: $color-black;
    }
  }
  .my-order_actions {
    visibility: hidden;
  }
  .status {
    background-color: $color-gray-50;
  }
}

.row_inprogress {
  .status {
    background-color: #02AEFF;
  }
}

.row_topay {
  .to-pay-block {
    width: 120px;
    font-size: 14px;
    text-decoration: underline;
    color: #f95e71;
  }
  .status {
    background-color: #f95e71;
  }
}

.row_done {

  .status {
    background-color: #54C983;
  }
}



.my-order_actions {
  display: flex;
  align-items: center;
  width: 120px;
    .mo_action {
      margin-right: 20px;
      span {
        font-size: 20px;
        &:before {
          color: $color-blue;
        }
      }
        &:last-child {
          margin-right: 0;
        }
    }
}